{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}
{% block body %}
    <h1>{% trans %} Edit Course{% endtrans %}</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_course_index') }}"> {% trans %} back to list {% endtrans %}</a>
 
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
