 {% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>{% trans %}Create new <{% endtrans %}?= $entity_class_name ?></h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_event_index') }}">{% trans %}back to list {% endtrans %}</a>
{% endblock %}
