 {% extends 'base.html.twig' %}

{% block title %}New Guest{% endblock %}

{% block body %}
    <h1>{% trans %}Create new <{% endtrans %}?= $entity_class_name ?></h1>

    {{ include('guest/_form.html.twig') }}

    <a href="{{ path('app_guest_index') }}">{% trans %}back to list {% endtrans %}</a>
{% endblock %}
