{% extends 'base.html.twig' %}

{% block title %}Edit Command{% endblock %}
{% block body %}
    <h1>{% trans %} Edit Command{% endtrans %}</h1>

    {{ include('command/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_command_index') }}"> {% trans %} back to list {% endtrans %}</a>
 
    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
