 {% extends 'base.html.twig' %}

{% block title %}New CourseType{% endblock %}

{% block body %}
    <h1>{% trans %}Create new <{% endtrans %}?= $entity_class_name ?></h1>

    {{ include('course_type/_form.html.twig') }}

    <a href="{{ path('app_course_type_index') }}">{% trans %}back to list {% endtrans %}</a>
{% endblock %}
